.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.container .logo img {
  width: 272px;
  margin-bottom: 20px;
}

.search-icon {
  position: relative;
  width: 522px;
  margin: 0 auto;
}

.search-icon input {
  width: 100%;
  border: 0.5px solid #dfe1e5;
  padding: 15px 10px 15px 40px;
  border-radius: 50px;
  outline: none;
}

.search-icon .search {
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  transform: translate(15px, 15px);
  color: #9aa0a6;
}
.search-icon .microphone {
  position: absolute;
  top: 0;
  top: 0;
  right: 0;
  transform: translate(30px, 15px);
  color: #9aa0a6;
}

.button-group {
  margin: 30px auto;
  z-index: -2;
  position: relative;
}

.button-group button {
  border: none;
  background: #f1f1f1;
  color: #5f6367;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 8px;
  cursor: pointer;
}

.languages-list {
  list-style: none;
  z-index: -2;
  position: relative;
}

.languages-list li {
  display: inline-block;
}

.languages-list li a {
  padding: 4px;
  font-size: small;
  text-decoration: none;
}
.languages-list li a:hover {
  text-decoration: underline;
}

.languages-list li:first-child a {
  color: #222222;
  margin-right: 5px;
  cursor: default;
}

.languages-list li:first-child a {
  color: #222222;
  margin-right: 5px;
  cursor: default;
}

.languages-list li:first-child a:hover {
  text-decoration: none;
}

.search-list-container {
  position: absolute;
  width: 110%;
  background: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 10px #dadada;
  top: 0px;
  z-index: -1;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-list-group {
  list-style: none;
  margin-top: 50px;
  padding-left: 5px;
}

ul.search-list-group li {
  text-align: left;
  padding: 8px 5px;
}

ul.search-list-group li a {
  text-decoration: none;
  color: #000000;
  padding: 8px 5px;
}

ul.search-list-group li:first-child a {
  color: #868686;
  cursor: default;
}
